<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          <%= @page.page_name %>
        </h1>
      </div>
      <!--<div class="col-lg-8 col-sm-8">-->
      <!--  <ol class="breadcrumb pull-right">-->
      <!--    <li>-->
      <!--      <a href="#">-->
      <!--        Home-->
      <!--      </a>-->
      <!--    </li>-->
      <!--    <li>-->
      <!---->
      <!--      <a href="#">-->
      <!--        Pages-->
      <!--      </a>-->
      <!--    </li>-->
      <!--    <li class="active">-->
      <!--      About-->
      <!--    </li>-->
      <!--  </ol>-->
      <!--</div>-->
    </div>
  </div>
</div>
<!--breadcrumbs end-->
<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>
      <%= @page.string_1 %>
    </h1>
    <p>
      <%= @page.text_1 %>
    </p>
    <p>
      <a class="btn btn-primary btn-large">
        Call to action!
      </a>
    </p>
  </header>
  <hr>
    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>
           <%= @page.string_2 %>
        </h3>
      </div>
    </div>
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <%= @page.image_1 %>
          <div class="caption">
            <h3>
               <%= @page.string_3 %>
            </h3>
            <p>
               <%= @page.string_4 %>
            </p>
                     </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <%= @page.image_2 %>
          <div class="caption">
            <h3>
              <%= @page.string_5 %>
            </h3>
            <p>
              <%= @page.string_6 %>
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <%= @page.image_3 %>
          <div class="caption">
            <h3>
              <%= @page.string_7 %>
            </h3>
            <p>
              <%= @page.string_8 %>
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <%= @page.image_4 %>
          <div class="caption">
            <h3>
              <%= @page.string_9 %>
            </h3>
            <p>
              <%= @page.string_10 %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <hr>
      <!-- Footer -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js">
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js">
    </script>