<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Restaurants
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <%= link_to "Home", root_path %>
            <a href="#">
              Pages
            </a>
          </li>
          <li class="active">
            About
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!--breadcrumbs end-->
  <%= link_to "Create a Restaurant Review", new_restaurant_path, class: "btn btn-success" %>
<%= form_tag search_restaurants_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: "What do you wanna eat?" %>
<%= text_field_tag :location, nil, placeholder: "What city?" %>
<%= select_tag :category, 
    options_for_select(Category.all.map{ |category| [category.name, category.id]}) %>
<%= submit_tag 'Search', class: "btn btn-info" %>
<% end %>
</div>