<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Create A Restaurant 
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <%= link_to "Home", root_path %>
            <a href="#">
              Pages
            </a>
          </li>
          <li class="active">
            About
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->
<div class="container">

  
<%= simple_form_for @restaurant do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :address1 %>
  <%= form.input :address2 %>
  <%= form.input :city %>
  <%= form.input :state_provence %>
  <%= form.input :postalcode %>
  <%= form.input :phone %>
  <%= form.input :email %>
  <%= form.submit "Create Restaurant", class: "btn btn-warning" %>
<% end %>
</div>

