<!--http://blackrockdigital.github.io/startbootstrap-3-col-portfolio/-->
<div class="container"> 
  <div class="row">
<% @restaurants.each do |r| %>    
    <div class="col-md-3">
      <a href="#">
         <% if r.image_url.present? %>
              <%= image_tag r.image_url(:search_page)  %>
              <% end %>
      </a>
      <h3>
          <%= link_to r.name, r  %>
      </h3>
      <ul style="list-style-type: none;">
        <li><%= r.city.capitalize %>, <%= r.state_provence.upcase %></li>
        <li><%= r.email %></li>
        <li><%= r.phone %></li>
      </ul>


    </div>
<% end %>    
  </div>  
</div> <!--container close-->