<header class="head-section">
  <div class="navbar navbar-default navbar-static-top container">
      <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          L<span>ister</span>
          <% end %>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
              <li class="dropdown">
              <%= link_to "#", data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-home"></i> Home
              <% end %>
            <li>

              
                
            <li class="dropdown">
              <%= link_to root_path, data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-home"></i> Restaurants
              <% end %>
            <li>
              
            <li class="dropdown">
              <%= link_to "#", data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-info-circle"></i> About Us
              <% end %>
            <li> 
               
            <li>
              <%= link_to "#", data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-envelope"></i> Contact Us
              <% end %>
  
            

            <% if current_user %>
            <li>
              <%= link_to destroy_user_session_path, data: { close_others: false, delay: 0,
                hover: "dropdown"}, method: :delete do %>
                <i class="fa fa-stop-circle-o"></i> Sign Out
              <% end %>
            <li>
              <%= link_to edit_user_registration_path, data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-edit"></i> Edit My Profile
              <% end %>
            <li>  
            <% else %> 
            <li>
              <%= link_to new_user_session_path, data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-sign-in"></i> Sign In
              <% end %>
            <li>
            <li>
              <%= link_to new_user_registration_path, data: { close_others: false, delay: 0,
                hover: "dropdown"} do %>
                <i class="fa fa-registered"></i> Register
              <% end %>
            <li>   </ul>
            <% end %>
           
      </div>
  </div>
</header>